.recipe {
  padding: 1rem 2rem;
  height: 100vh; /* or any desired height */
  overflow: scroll;
}
  .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }
  .card {
 width: 100%;
 border: 1px solid var(--grey-300)
  }
  .imageHeader{
    // width:100%;
    h3{
      padding: 0 8px;
      font-size: 1.7rem;
    }
  }
.links{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 1rem;
}

