

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    span {
      color: var(--highlight);
    }
  }
  &__form {
    background-color: var(--white);
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  &__recipes{
    span{
        color: var(--highlight);
    }
  }
  &__input-box {
    display: flex;
    border-bottom: 1px solid var(--grey-100);
    width: 85%;
    margin-bottom: 2rem;
    position: relative;

    label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      font-size: 1rem;
      color: var(--grey-400);
    }
    input {
      border: none;
      outline: none;
      padding: 10px;
      padding-left: 30px; /* Space for the icon */
      width: 100%;
      background: none;
      font-size: 1rem;
    }
  }
  &__terms {
    width: 55%;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    span {
      color: black;
      font-weight: bold;
    }
  }
  &__google {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--grey-300);
      margin: 10px 25px;
    }
    span {
      font-size: 14px;
      color: var(--grey-300);
    }
  }
  &__icon {
    cursor: pointer;
  }
  &__salad-img {
    position: absolute;
    top: -2px;
    right: -45px;
    width: 29%;
  }
  &__lemons-img {
    position: absolute;
    bottom: -75px;
    left: -45px;
    width: 35%;
  }

  // animation for floating
  .focused {
    top: -7px;
    left: 10px;
    font-size: 0.8rem;
    color: var(--highlight);
    span {
      color: var(--highlight);
    }
  }
}
