@use '../../mixins' as *;

.wrapper {
  height: 100vh;
  &__image-macaroni {
    position: absolute;
    top: 60px;
    right: -100px;
    width: 37%;
    // z-index: 999;
    @include respond-to(tablet){
      right: -20px;
    }
  }
  &__content-div {
    border: 5px solid orangered;
    height: 100%
  }
  &__content {
    border: 1px solid green;
    width: 85%;
    margin: 3rem auto;
    text-align: center;
    h2 {
      width: 50%;
      margin: 0 auto;
      font-weight: 700;
    }
  }
  &__content-manageRecipes {
    margin: 10px auto;
  }
  &__content-shareRecipes {
    margin: 20px auto;
    span {
      color: var(--highlight);
    }
  }
  &__content-btn {
    padding: 10px 28px;
    border-radius: 19px;
    font-size: 12px;
  }
  &__explore-div {
    position: relative;
    top: -270px;
    left: 17%;
    width: 70%;
    overflow: hidden;
    @include respond-to(tablet){
      top:-180px
    }
  }
}
