.wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        li{
                padding: 0.1rem 1rem;
                border-radius: 25px;
                background-color: var(--white);
        }
        &__Link{
                color:var(--highlight)
        }
}