:global(body){
    padding:0 !important;
}

.register {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &__backgroundImageTop{
        position:absolute;
        width: 20%;
        top: -20px;
        right: -90px;
    }
    &__backgroundImageBottom{
        position:absolute;
        width: 20%;
        bottom: -50px;
        left: -40px;
    }
    &__Logo{
   font-size: 1.5rem;
        span{
            color:var(--highlight)
        }
    }
    &__create{
        height: 90vh;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        min-height: 80%;
    }
    &__signup{
        background-color: var(--white);
        display: flex;
        flex-direction: column;
      
        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            label{
                padding: 4px 3px;
                background-color: var(--grey-50);
                border: 1px solid var(--grey-100);
                border-radius:10px
            }
            input{
                background-color: var(--grey-50);
                border: transparent;
            &:focus{
                border: none;
                outline: none;
            }
            }

            button{
                width: 70%;
                margin: 0 auto ;
                border-radius: 10px;
            }
        }
    }
    &__terms{
        width: 90%;
        margin: 10px auto;
        text-align: center;
        font-size: 12px;
        span{
            color:black;
            font-weight: bold;
        }
    }
    &__google{
        display: flex;
        align-items: center;
        &::before,
        &::after{
            content: '';
            flex: 1;
            border-bottom:1px solid black;
            margin: 0 10px;
        }
        span{
            font-size: 12px;
            color: var(--grey-600);
        }
    }
    &__icon{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    &__info{
        h2{
          margin-bottom: -10px;
        }
        
        li{

            margin-bottom: 12px;
        }
        span{
            font-size: 12px;
            color: var(--grey-600);
        }
    }

}
